.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

env
venv
.env

local_settings.py
db.sqlite3

Media/

src/*/__pycache__/
src/*/*/__pycache__/
src/media
src/media/*
identifier.sqlite
src/db.sqlite3
src/static
src/static/*
src/staticfiles
src/staticfiles/*